{% from 'BtnAdminBundle:Macros:breadcrumb.html.twig' import breadcrumb %}
{% extends 'BtnAdminBundle::base.html.twig' %}

{% form_theme form 'BtnAdminBundle:Form:fields.html.twig' %}

{% block content %}

    <form action="{{ path('cp_newsletter_create') }}" method="post" {{ form_enctype(form) }} class="well form-horizontal" novalidate>
          <fieldset>
              <legend>Newsletter new</legend>
              {{ form_widget(form) }}
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">{% trans %}crud.create{% endtrans %}</button>
                </div>
              </div>
        </fieldset>
    </form>

            <a href="{{ path('cp_newsletter') }}" class="btn">
        &laquo; {% trans %}btn_admin.back{% endtrans %}
    </a>

{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb({'cp_newsletter': 'btn_admin.list', 'cp_newsletter_new': 'btn_admin.new'}) }}
{% endblock %}
